.ui.borderless.topmenu.menu {
  background-color: white;
  box-shadow: none;
  border: none;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 3em;
}

.ui.centered.grid.container {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer.divider {
  margin-top: 100px;
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: rgba(0, 0, 0, 0.05);
  border: none;
}

img {
  width: 150px;
}

.right.item.search {
  margin-left: 30px;
}

.top {
  font-weight: bold;
  font-size: 20px;
}

.bottom {
  font-size: 14px;
}

.ui.labeled.input.email {
  padding-top: 3em;
}